@{
   ViewData["Titile"] = "NotifyConsignee";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://kendo.cdn.telerik.com/2021.3.915/styles/kendo.common.min.css" rel="stylesheet" />
<link href="https://kendo.cdn.telerik.com/2021.3.915/styles/kendo.default.min.css" rel="stylesheet" />
<script src="https://kendo.cdn.telerik.com/2021.3.915/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.3.915/js/kendo.all.min.js"></script>


<script src="~/scripts/iteminfo.js"></script>
<div class="jumbotron">
   <h2>Insert Data Using Kendo UI Grid</h2>
</div>
<div>
   <div id="grdItemInfo"></div>
</div>
<br />
<button class="k-button" id="btnSaveItemInfo">Save</button>
<button class="k-button" id="btnClear">Clear</button>