<html>
   <head>
      <title>Grid view </title>

   <style>
      /*.grid-container{
         display:grid;
         grid-template-columns: auto auto auto auto auto auto;
         grid-template-rows:250px;
         background:red;
         padding:10px;
         grid-gap:20px;
      }
      .grid-item{
         border:1px solid #fff;
         padding:10px;
         font-size:30px;
         color:#fff;
         text-align:center;
      }*/
      /*.item1 {
         grid-row-start:4;
         grid-row-end:4;
      }*/
   </style>
   <link href="~/css/grid.css" rel="stylesheet" />
   </head>
   <body>
      <div class="grid-container">
         <div class="grid-item item1">
            <label>Name</label>
            <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
         <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
         <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
         <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
             <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
             <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
         <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
         <div class="grid-item">
              <label>Name</label>
         <input type="text" id="txtName" class="form-control" />
         </div>
      </div>
   </body>
   
</html>
@*         .main-content {
            padding-left: 70px;
            padding-right: auto;
            padding-top: 10px;
            width: 100%;
            position: relative;
         }
      .grid-container {
         display: grid;
         grid-template-columns: auto auto auto auto ;
         background: gray;
         padding: 10px;
         grid-gap: 10px;
      }

      .grid-item {
         border: 1px solid #fff;
         padding: 10px;
         font-size: 30px;
         color: black;
         text-align: center;
         line-height: 11.5px;
      }
      /*.item1 {
               grid-row-start:4;
               grid-row-end:4;
            }*/*@