@{
   ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";

}


<form>
   <div class="row">
      <div class="column">
         <p style="
  font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0 0 10px;
    padding: 0;
    background-color: aquamarine;
    width: 155px;
    height: 37px;
    text-align: center;
">General Bill Entry</p>
         <div>
            <input type="search" />
         </div>
      </div>
      
      <div class="button-group">
         <button class="btn btn-primary">Save</button>
         <button class="btn btn-secondary">Cancel</button>
         <button class="btn btn-danger">Delete</button>
      </div>

   </div>
   <br />
   <br />
   <div class="row">
      <div class="column"  >
         <p style="margin:5px;">Column 2</p>
         <select class="maindrop">
            <option value="">--Select--</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
         </select>
      </div>
      <div class="column">
         <p style="margin:5px;">Column 2</p>
         <select class="maindrop">
            <option value="">--Select--</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
         </select>
      </div>
      <div class="column">
         <p style="margin:5px;">Column 2</p>
         <select class="maindrop">
            <option value="">--Select--</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
         </select>
      </div>
      <div class="column">
         <p style="margin:5px;">Column 2</p>
         <select class="maindrop">
            <option value="">--Select--</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
         </select>
      </div>
      <div class="column">
         <label for="BillReference">Bill Reference</label>
         <input type="text" id="BillReference" name="BillReference">
      </div>
   </div>
   <br />
   <div class="row">
      <div class="column">
         <label for="BillReference">Bill Reference</label>
         <input type="text" id="BillReference" name="BillReference">
      </div>
      <div class="column" >
         <label for="BillReference">Bill Reference</label>
         <input type="text" id="BillReference" name="BillReference">
      </div>
      <div class="column" >
         <label for="BillReference">Bill Reference</label>
         <input type="text" id="BillReference" name="BillReference">
      </div>
      <div class="column"  >
         <label for="BillReference">Bill Reference</label>
         <input type="text" id="BillReference" name="BillReference">
      </div>
      <br />
      <br />
      <br />
      <div class="column2"  >
         <h5>PRODUCT INFORMATION</h5>
         <select class="dropdown">
            <option value="">--Select--</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
         </select>

      </div>
   </div>

</form>
<br />
<br />

